{{ define "main" }}
{{- $config := site.Params }}
{{- $blog_dir := default "posts" $config.blogDir }}
{{- $pages := where site.RegularPages "Type" "in" $config.mainSections }}

<div class="grid-2 article_showcase wrap">
  {{- $paginator := .Paginate $pages -}}
  {{- $size := $paginator.PageSize }}
  {{- $scratch := newScratch }}
  {{- range $index, $value := $paginator.Pages }}
  {{ $bg := partial "func/getImage" . }}
  <article class="article">
    <a href={{ $value.Permalink }}>
      <div class=article_thumb style='background-image: url({{ $bg }})'></div>
      <div class="article_meta">
        <time class="post_date">{{ dateFormat "January 02, 2006" $value.Date }}</time>
        <h3 class="article_title">{{ $value.Title }}</h3>
        <div class="article_excerpt">
          <p>{{ truncate 100 $value.Summary }}</p>
        </div>
      </div>
    </a>
  </article>
  {{- end }}
</div>

<a href='{{ absURL (printf "%s/%s" $blog_dir "") }}' class="post_nav">
  <span class=post_next>
    Ver todos los posts
  </span>
</a>
{{ end }}